bin
target
preloaded-library
temp/

.DS_Store
.project
.classpath
.idea/
.settings/*
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.wst.validation.prefs 

*.class
*py.class
*.pydevproject
*.project
*.pyc
*.swp
*.json
*.dot

lastJsonImport.json
src/main/webapp/UserPrefs/*.json
UserUploadedFiles
src/main/webapp/UserUploadedFiles/*

SampleData
CRF_Model.txt
log/*
src/main/webapp/publish/KML/*.*
src/main/webapp/publish/Source Description/*.*
src/main/webapp/publish/History/*.*
src/main/webapp/publish/GRAPHVIZ/*.*
src/main/webapp/publish/CSV/*
src/main/webapp/publish/RDF/*.*
src/main/webapp/publish/MDB/*.*
src/main/webapp/publish/AutoOntology/*.*
src/main/webapp/publish/R2RML/*.*
src/main/webapp/publish/JSON/*.*
src/main/webapp/publish/AlignmentGraph/*.*
preloaded-ontologies/*
src/main/webapp/RDF/*.rdf
src/main/webapp/RDF/*.n3
src/main/webapp/CRF_Models/*.txt
src/main/webapp/repository/dataset/*.*
src/main/webapp/repository/services/*.*
src/main/webapp/repository/sources/*.*
src/main/webapp/CRF_Models/WSP1_CRFModel.txt.zip
tmp/*
src/main/webapp/CRF_Models/WSP1_CRFModel.txt
src/main/scripts/Lib/*.class
bin/
*.kml
*.fix
*.dbf
*.zip
*.prj
*.qix
*.shp
*.shx
*.dot
src/main/webapp/SpatialData/GET_OPENSTREETMAP.xml
src/main/scripts/Lib/IDCTClassifier$py.class

nbactions.xml
*.n3
*.ttl

*.rdf

src/test/karma-data/testresult/testResult.txt
