
target
.DS_Store
lastJsonImport.json
UserPrefs/*.json
UserUploadedFiles
UserUploadedFiles/*
*.json
SampleData
CRF_Model.txt
tmp
log/*
!.gitignore
publish/KML/*.*
publish/Source Description/*.*
publish/CSV/*
Preloaded_Ontologies/catalog-v001.xml