bin
*.class
*py.class
*.pydevproject
*.project
*.pyc
*.swp
target
.DS_Store
lastJsonImport.json
src/main/webapp/UserPrefs/*.json
UserUploadedFiles
src/main/webapp/UserUploadedFiles/*
*.json
SampleData
CRF_Model.txt
log/*
!.gitignore
src/main/webapp/publish/KML/*.*
src/main/webapp/publish/Source Description/*.*
src/main/webapp/publish/History/*.*
src/main/webapp/publish/CSV/*
src/main/webapp/publish/RDF/*
Preloaded_Ontologies/catalog-v001.xml
src/main/webapp/RDF/*.rdf
src/main/webapp/RDF/*.n3
src/main/webapp/CRF_Models/*.txt
src/main/webapp/repository/dataset/*.*
src/main/webapp/repository/services/*.*
src/main/webapp/repository/sources/*.*
src/main/webapp/CRF_Models/WSP1_CRFModel.txt.zip
tmp/*
src/main/webapp/CRF_Models/WSP1_CRFModel.txt
src/main/scripts/Lib/*.class
bin/