.PredicateProperty {
	width: 180px;
	float: left;
	padding: 5px;
}

.OtherClassProperty {
	width: 180px;
	float: left;
	padding: 5px;
}

.DataCountProperty {
	width: 150px;
	float: left;
	padding: 5px;
}

.PredicateButtonProperty {
	width: 175px;
	float: left;
}

.OtherClassButtonProperty {
	width: 175px;
	float: left;
}

.DataCountButtonProperty {
	width: 145px;
	float: left;
}