.outsideLink {
	stroke : red;
	stroke-width : 1;
	stroke-opacity : 0.3;
}

.labelText{
	font-family: Arial;
	font-size: 12;
	opacity: 0.8;
}

.hiddenText{
	opacity: 0;
}

.node.fixed{
	stroke : #555;
	stroke-width : 4;
}

.linkLabel {
	cursor: pointer;
}

.nodeLabel {
	cursor: pointer;
}

.clickBoard {
	cursor: pointer;
}

body {
	
}