@charset "UTF-8";
/* CSS Document */

#banner {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	color: #FC0;
	text-align: center;
	margin: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
#karma-version {
	font-size: small;
}

.karma-header {
	display: inline;
}

.karma-header-links {
	float: right;
	margin-top: 20px
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.karma-header-links li { 
	display: inline; 
	padding: .1em 1em;
}

.karma-header-links li a { 
	text-decoration: none; 
}

.karma-header-links li a:link
{
	color: #FC0;
} 
.karma-header-links li a:visited
{
	color: #FC0;
} 
.karma-header-links li a:hover
{
	color: #fff;
}
.karma-header-links li a:active
{
	color: #fff;
}
.karmaError
{
	color:#ff0000;
}
#rdfGenerationErrorWindow {
	background: none repeat scroll 0 0 #EEEEEF;
}

#semanticTypeEdit_propertyList1 ins, #semanticTypeEdit_propertyList2 ins, #semanticTypeEdit_classList1 ins, #semanticTypeEdit_classList2 ins {
	width: 1px;
}
 #incomingOutgoingLinksDialog_inner_classList1 ins, #incomingOutgoingLinksDialog_inner_classList2 ins, #incomingOutgoingLinksDialog_inner_propertyList1 ins, #incomingOutgoingLinksDialog_inner_propertyList2 ins {
 	width: 1px;
 }
 
 .truncate {
 	overflow: hidden;
 	text-overflow: ellipsis;
 	word-wrap: break-word;
 }
 
 #semanticTypesTableDiv {
 	overflow: auto;
 	max-height: 500px;
 }
 
 .bold {
 	font-weight: bold;
 }

 #incomingLinksDiv {
 	max-height: 400px;
 	overflow: auto;
 }
 
 #outgoingLinksDiv {
 	max-height: 400px;
 	overflow: auto;
 }

 .propertiesHeader {
    background: none repeat scroll 0 0 rgb(240, 240, 240);
    padding: 2px 0 2px 10px;
}

.edit {
	cursor: pointer;
}

.editable {
	cursor: pointer;
}

#modeHeader a {
	color: rgb(255, 255, 150);
}

.editButton, .hideButton, .deleteButton {
	padding: 0px 12px;
}

#propertyDialogRight {
	height: 500px;
}

.rdfsLabel {
	color: #2a627e;
}

.dialog-list-tab {
	overflow-wrap: break-word;
}

.heading {
	font-weight: bold;
}

.sem-provenance {
	width: 10%; 
	word-break: break-all;
}