@charset "UTF-8";
/* CSS Document */

#banner {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	color: #FC0;
	text-align: center;
	margin: 0px;
}
body {
	margin: 0px;
	padding: 0px;
}
#karma-version {
	font-size: small;
}

.karma-header {
	display: inline;
}

.karma-header-links {
	float: right;
	margin-top: 20px
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.karma-header-links li { 
	display: inline; 
	padding: .1em 1em;
}

.karma-header-links li a { 
	text-decoration: none; 
}

.karma-header-links li a:link
{
	color: #FC0;
} 
.karma-header-links li a:visited
{
	color: #FC0;
} 
.karma-header-links li a:hover
{
	color: #fff;
}
.karma-header-links li a:active
{
	color: #fff;
}
.karmaError
{
	color:#ff0000;
}
#rdfGenerationErrorWindow {
	background: none repeat scroll 0 0 #EEEEEF;
}