.FileNameProperty {
	width: 100px;
	float: left;
}

.PublishTimeProperty {
	width: 200px;
	float: left;
}

.URLProperty {
	width: 200px;
	float: left;
}

.CheckboxProperty {
	width: 25px;
	float: left;
}

