<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>PUBLIC_KML_ADDRESS</param-name>
		<param-value>http://128.9.216.81:9999/KML/</param-value>
	</context-param>
	<context-param>
		<param-name>KML_TRANSFER_SERVICE</param-name>
		<param-value>http://128.9.216.81:9999/KMLFileTransferHandler</param-value>
	</context-param>
	<context-param>
		<param-name>PUBLIC_RDF_ADDRESS</param-name>
		<param-value>http://localhost:8080/RDF/</param-value>
	</context-param>
	<context-param>
		<param-name>SRID_CLASS</param-name>
		<param-value>SpatialReferenceSystem</param-value>
	</context-param>
	<context-param>
		<param-name>SRID_PROPERTY</param-name>
		<param-value>hasSRID</param-value>
	</context-param>
		<context-param>
		<param-name>KML_CUSTOMIZATION_CLASS</param-name>
		<param-value>KMLCustomization</param-value>
	</context-param>
	<context-param>
		<param-name>KML_CATEGORY_PROPERTY</param-name>
		<param-value>hasKMLCategory</param-value>
	</context-param>
	<context-param>
		<param-name>KML_LABEL_PROPERTY</param-name>
		<param-value>hasKMLLabel</param-value>
	</context-param>
	<context-param>
		<param-name>WGS84_LAT_PROPERTY</param-name>
		<param-value>http://www.w3.org/2003/01/geo/wgs84_pos#lat</param-value>
	</context-param>
	<context-param>
		<param-name>WGS84_LNG_PROPERTY</param-name>
		<param-value>http://www.w3.org/2003/01/geo/wgs84_pos#long</param-value>
	</context-param>
	<context-param>
		<param-name>POINT_POS_PROPERTY</param-name>
		<param-value>http://www.opengis.net/gml/pos</param-value>
	</context-param>
	<context-param>
		<param-name>POS_LIST_PROPERTY</param-name>
		<param-value>http://www.opengis.net/gml/posList</param-value>
	</context-param>
	<context-param>
		<param-name>POINT_CLASS</param-name>
		<param-value>http://www.opengis.net/gml/Point</param-value>
	</context-param>
	<context-param>
		<param-name>LINE_CLASS</param-name>
		<param-value>http://www.opengis.net/gml/LineString</param-value>
	</context-param>
		<context-param>
		<param-name>POLYGON_CLASS</param-name>
		<param-value>http://www.opengis.net/gml/Polygon</param-value>
	</context-param>
	<context-param>
		<param-name>TRAINING_EXAMPLE_MAX_COUNT</param-name>
		<param-value>100</param-value>
	</context-param>
  <context-param>
		<param-name>USER_DIRECTORY_PATH</param-name>
		<param-value>src/main/webapp/</param-value>
  </context-param>
  <context-param>
		<param-name>PYTHON_SCRIPTS_DIRECTORY</param-name>
		<param-value>./src/main/scripts/Lib</param-value>
  </context-param>

  <context-param>
		<param-name>MSFT</param-name>
		<param-value>False</param-value>
  </context-param>
  <context-param>
		<param-name>PRELOADED_ONTOLOGY_DIRECTORY</param-name>
		<param-value>preloaded-ontologies</param-value>
  </context-param>
  <context-param>
    <param-name>PYTHON_SCRIPTS_DIRECTORY</param-name>
    <param-value>./src/main/scripts/Lib</param-value>
  </context-param>

  
  	<servlet>
    	<servlet-name>ServletStart</servlet-name>
    	<servlet-class>edu.isi.karma.webserver.ServerStart</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
   <servlet>
    <servlet-name>exampleJSON</servlet-name>
    <servlet-class>edu.isi.karma.webserver.GetExampleJSON</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exampleJSON</servlet-name>
    <url-pattern>/getExampleNestedJSON</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>requestController</servlet-name>
    <servlet-class>edu.isi.karma.webserver.RequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>KMLFileTransferHandler</servlet-name>
    <servlet-class>edu.isi.karma.webserver.KMLFileTransferHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KMLFileTransferHandler</servlet-name>
    <url-pattern>/KMLFileTransferHandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LinkedAPIServiceHandler</servlet-name>
    <servlet-class>edu.isi.karma.webserver.LinkedApiServiceHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkedAPIServiceHandler</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
    
  <servlet>
     <servlet-name>ExtractSpatialInformationFromOSMServiceHandler</servlet-name>
     <servlet-class>edu.isi.karma.webserver.ExtractSpatialInformationFromOSMServiceHandler</servlet-class>
    </servlet>
    <servlet-mapping>
     <servlet-name>ExtractSpatialInformationFromOSMServiceHandler</servlet-name>
     <url-pattern>/ExtractSpatialInformation/*</url-pattern>
  </servlet-mapping>
  

  <servlet>
     <servlet-name>ExtractSpatialInformationFromWikimapiaServiceHandler</servlet-name>
     <servlet-class>edu.isi.karma.webserver.ExtractSpatialInformationFromWikimapiaServiceHandler</servlet-class>
    </servlet>
    <servlet-mapping>
     <servlet-name>ExtractSpatialInformationFromWikimapiaServiceHandler</servlet-name>
     <url-pattern>/ExtractWikimapiaInformation/*</url-pattern>
  </servlet-mapping>

 
<servlet>
     <servlet-name>SpatialReferenceSystemServiceHandler</servlet-name>
     <servlet-class>edu.isi.karma.webserver.SpatialReferenceSystemServiceHandler</servlet-class>
    </servlet>
    <servlet-mapping>
     <servlet-name>SpatialReferenceSystemServiceHandler</servlet-name>
     <url-pattern>/SpatialReferenceSystemService/*</url-pattern>
  </servlet-mapping>

<!-- uncomment for password protection; change user/pwd in config/jettyrealm.properties -->
<!-- 
 <security-constraint>
    <web-resource-collection>
      <url-pattern>/web-karma.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>karma</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>TestRealm</realm-name>
  </login-config>
-->

</web-app>
